body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4f7cac; /* Adjusted to match your navy blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 350px; /* Adjusted for a narrower chat container */
    max-width: 95%; /* Ensures it doesn't exceed the width of the screen */
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 600px; /* Adjust the height as needed */
}

.chat-header {
    background-color: #2e456d; /* Dark navy blue */
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chat-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #e9f1f7; /* Light grayish blue for message area */
}

.chat-input {
    padding: 15px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between; /* Adjusts the alignment of children elements */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    border: 2px solid #2e456d; /* Dark navy blue border for input */
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.chat-input button {
    background-color: #5a88ca; /* A lighter shade of blue for the button */
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #3b6f9e; /* Slightly darker shade when hovered for interactivity */
}
